table {
  display: table;
  width: 100%;
}

.protable {
  input {
    padding: 0.6em 1em;
    border-radius: 2rem;
    border: 1px solid #dfe2e5;
    outline: none;

    &:focus {
      border-color: #3eaf7c;
    }
  }

  table {
    th {
      > div {
        > span {
          margin-right: 1rem;
          flex-grow: 1;
        }
      }
    }

    button {
      border: 1px solid #dfe2e5;
      background: white;
      padding: .3rem .5rem;
      cursor: pointer;
      transition: all .3s;

      &:not([disabled]) {
        &:active, &:hover, &.active {
          border-color: #3eaf7c;
          color: #3eaf7c;
        }
      }
    }

    select {
      border: 1px solid #dfe2e5;
      background: white;
      padding: .3rem .5rem;
      cursor: pointer;
      transition: all .3s;
    }
  }
}